.main{
  margin: 15px 0;
}

.custom-input-group{
  border:1px solid #ddd;
  overflow: hidden;
  *{
    border:0;
  }
}

.week{
  text-align: center;
  color: #000;
  .day{
    font-weight: 700;
  }
  .temp{
    &>*{
      margin: 0 3px;
    }
  }
}

::ng-deep .nav-tabs{
  border-bottom: 0;
  flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0 0 10px;
  .nav-link{
    padding: 0 5px;
    &.active{
      background-color: #fffdf5;
      border: 1px solid #03a9f4;
    }
  }
}


.chips{
  font-weight: 700;
  background-color: #f5faff;
  padding: 10px;
}

.card-title{
  font-weight: 700;
    font-size: 42px;
}
