<div class="main container">
  <div class="row mb-3">
    <div class="col-12">
      <div class="input-group input-group-lg shadow rounded custom-input-group">
        <div class="input-group-prepend">
          <span class="input-group-text bg-transparent">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </span>
        </div>
        <input type="text" class="form-control">
        <div class="input-group-append">
          <span class="input-group-text bg-transparent">
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ngb-tabset >
        <ngb-tab *ngFor="let item of weatherData['daily']">
          <ng-template ngbTabTitle>
            <div class="week">
              <div class="day">
                  {{dt | date : 'EEEE' | slice:0:3}}
              </div>
              <div class="temp">
                <strong>{{item.feels_like.day - 273.15 | number: '2.0-0'}}<sup>o</sup></strong>
                <span>{{item.dew_point - 273.15 | number: '2.0-0'}}<sup>o</sup></span>
              </div>
              <div class="image">
                <img src="./../../assets/Sunny.svg" height="30">
              </div>
              <div class="looks">
                Sunny
              </div>
            </div>
          </ng-template>
          <ng-template ngbTabContent>
            fsdfsdf
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>

  <div class="card shadow">
    <div class="card-body">
      <h4 class="card-title">
        26<sup>o</sup>C
        <img src="./../../assets/Sunny.svg" height="60">
      </h4>
      <p class="card-text">
        Graph here Graph here Graph here Graph here Graph here Graph here
      </p>
      <div class="row">
        <div class="col-6">
          <div class="chips">
            <div class="title">
              Pressure
            </div>
            <div class="des">
              1013 hpa
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="chips">
            <div class="title">
              Humidity
            </div>
            <div class="des">
              93 %
            </div>
          </div>
        </div>
      </div>

      <!-- <a href="#!" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>
</div>


